img{
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 20px;
    margin-top: 20px;
}

li{
    list-style-type: none;
}

.main{
    border-bottom: 1px solid #ccc;
    display: flex;
    width: 641px;
    border: 1px solid #ccc;
    padding-left: 20px;
}